$white: #fff;
$black: #000;
$dark: #092635;
$red: #e63946;
$red-200: #fae2e4;
$green: #6cbf6c;
$green-200: #def1de;
$primary: #5a77f8;
$gray: #a0a1a7;
$gradient: hsla(169, 76%, 48%, 1);
$linearGradient: linear-gradient(
  90deg,
  hsla(120, 93%, 84%, 1) 0%,
  hsla(185, 90%, 51%, 1) 100%
);
$ButtonGradient: linear-gradient(
  90deg,
  hsla(185, 90%, 51%, 1) 0%,
  hsla(120, 93%, 84%, 1) 100%
);
$ButtonRed: linear-gradient(
  90deg,
  rgb(243, 18, 176) 0%,
  rgb(240, 135, 44) 100%
);
$ButtonRedAlter: linear-gradient(
  90deg,
  rgb(240, 135, 44) 0%,
  rgb(243, 18, 176) 100%
);
