$white: #fff;
$black: #000;
$red: #e63946;
$red-200: #fae2e4;
$gradient: hsla(169, 76%, 48%, 1);
$linearGradient: linear-gradient(
  90deg,
  hsla(120, 93%, 84%, 1) 0%,
  hsla(185, 90%, 51%, 1) 100%
);
$ButtonGradient: linear-gradient(
  90deg,
  hsla(185, 90%, 51%, 1) 0%,
  hsla(120, 93%, 84%, 1) 100%
);
