// comments form here...

.comment_container {
  max-width: 42rem;
  margin: 0 auto;
  width: 100%;
  padding: 8px;

  .comment_link {
    font-size: 12px;
    text-decoration: none;
    color: #0d9488;
    font-family: 'Poppins', sans-serif;
    &:hover {
      text-decoration: underline;
    }
  }
}

.comment_form {
  border: 1px solid #0d9488;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;

  .comment_textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #0d9488;
    border-radius: 5px;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
  }

  .comment_form_item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 10px;

    p {
      color: $gray;
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
    }
    .comment_button {
      border: 1px solid $gradient;
      border-radius: 5px;
      padding: 10px;
      font-size: 14px;
      font-family: 'Poppins', sans-serif;
      cursor: pointer;
      background-color: transparent;
      color: $black;
      transition: all 0.5s ease-in-out;
      &:hover {
        border: 1px solid $black;
        color: $gradient;
      }
    }
  }
}

//* user detail section..

.comment_not_login {
  display: flex;
  gap: 10px;
  font-size: 14px;
  color: #0d9488;
  margin-top: 10px;

  .comment_link_signin {
    text-decoration: none;
    color: $primary;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}

.comment_user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
  color: $gray;
  font-size: 14px;

  img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
  }
}

//error message...
.error-message-comment {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 10px;
  width: 100%;
  padding: 10px;
  border-radius: 3px;
  color: $red;
  background: $red-200;
}

// getting comments styles here...
.comment_no_comments {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px;
  width: 100%;
  padding: 10px;
  color: $red;
}

.comments_text_con {
  font-size: 14px;
  margin-top: 10px;
  display: flex;
  align-items: center;
  gap: 10px;

  .comments_p {
    border: 1px solid $gray;
    padding: 8px;
  }
}

.comment_user {
  flex-shrink: 0;
  margin-right: 15px;
  .comment_img {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    object-fit: cover;
    background-color: $gray;
  }
}

.comment_span {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 10px;
  margin-right: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: 'Poppins', sans-serif;
}

.comment-from-now {
  margin-top: 10px;
  font-size: 0.9rem;
  color: $gray;
  font-family: 'Poppins', sans-serif;
}

.comment-content-container {
  flex: 1;
}
.content-para {
  font-size: 0.9rem;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;
  color: $gray;
}

.comment-text-container {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.comment-main-container {
  display: flex;
  padding: 12px;
  border-bottom: 1px solid #ececec;
}

.comment-like-container {
  display: flex;
  align-items: center;
  padding-top: 10px;
  gap: 10px;
  border-top: 1px solid rgb(223, 223, 223);
  max-width: fit-content;

  .comment-like-button {
    background-color: transparent;
    border: none;
    color: $gray;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

    &:hover {
      color: $red;
    }
  }

  .Liked-Button {
    color: $red !important;
  }

  p {
    color: $gray;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
  }

  .comment-edit-button {
    background-color: transparent;
    border: none;
    color: $gray;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 5px;

    &:hover {
      color: $green;
    }
  }

  .comment-delete-button {
    background-color: transparent;
    border: none;
    color: $gray;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    padding: 5px;

    &:hover {
      color: $red;
    }
  }
}

.comment_textarea-edit {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border: none;
  border-radius: 5px;

  &:focus {
    outline: 2px solid $gradient;
  }
}

.comment_edit_item {
  display: flex;
  justify-content: right;
  gap: 10px;
  align-items: center;

  .btn-edit {
    background-image: linear-gradient(
      to right,
      #348f50 0%,
      #56b4d3 51%,
      #348f50 100%
    );
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block;
  }

  .btn-edit:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }

  .btn-delete {
    background-image: linear-gradient(
      to right,
      #8f3434 0%,
      #d39f56 51%,
      #8f3434 100%
    );
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    display: block;
  }

  .btn-delete:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }
}
