.dashboard {
  // display: flex;
  min-height: 100vh;
}
.sidebar {
  width: 250px;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
  padding: 10px;
  .sidebar-item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .sidebar-link {
      text-decoration: none;
      font-size: 16px;
      font-weight: 400;
      color: $black;
      font-family: 'Poppins', sans-serif;
      &:hover {
        color: $gray;
      }
    }
  }

  .sidebar-elem {
    display: flex;
    position: relative;
    gap: 10px;
    align-items: center;
    background-color: #fffefea4;
    padding: 10px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;

    label {
      position: absolute;
      right: 0;
      background-color: $black;
      border-radius: 4px;
      padding: 4px;
      margin-right: 10px;
      color: $white;
      cursor: pointer;
      &:hover {
        color: $gradient;
      }
    }

    .search-icon {
      width: 20px;
      height: 20px;
    }
  }
}

// media queries

@media (max-width: 545px) {
  .dashboard {
    display: flex;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
  }
}
