@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'colors.scss';
@import 'header.scss';
@import 'sign_up.scss';
@import 'footer.scss';
@import 'oAuth.scss';
@import 'theme.scss';
@import 'dashboard_sidebar.scss';
@import 'profile_page.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anybody', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  // border-radius: 15px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: $linearGradient;
  outline: 1px solid $gradient;
}
