@import url('https://fonts.googleapis.com/css2?family=Anybody:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import 'colors.scss';
@import 'header.scss';
@import 'sign_up.scss';
@import 'footer.scss';
@import 'oAuth.scss';
@import 'theme.scss';
@import 'dashboard_sidebar.scss';
@import 'profile_page.scss';
@import 'modal.scss';
@import 'create_post.scss';
@import 'dashposts.scss';
@import 'dashuser.scss';
@import 'post_page.scss';
@import 'call_to_action.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Anybody', sans-serif;
}

body::-webkit-scrollbar {
  width: 0.5rem;
  // border-radius: 15px;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background: $linearGradient;
  outline: 1px solid $gradient;
}

//error message

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  color: $red;
  background: $red-200;
}

// success message

.success-message {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 300px;
  padding: 15px;
  border-radius: 10px;
  color: $green;
  background: $green-200;
}

// scroll bar for dashposts

.dash_post_container::-webkit-scrollbar {
  width: 0.5rem;
  // border-radius: 15px;
}

.dash_post_container::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.dash_post_container::-webkit-scrollbar-thumb {
  background: $linearGradient;
  outline: 1px solid $gradient;
}
