.dark {
  background-color: $dark;
  color: $white;
  min-height: 100vh;

  .nav-logo {
    color: $white;
  }

  .nav-link {
    .link {
      color: $white;
    }
  }

  .show-menu {
    background-color: $dark;
    color: $white;

    .link {
      color: $white;
      &:hover {
        color: $gradient;
      }
    }
  }

  .dropdown-content {
    background-color: $dark;

    .dropdown-link {
      color: $white;
      &:hover {
        color: $gradient;
      }
    }
  }

  .signup-logo {
    color: $white;
  }
  .signup-text {
    .signup-text-span {
      text-decoration: none;
      font-size: 0.8rem;
      color: $red;
      font-family: 'Poppins', sans-serif;
      &:hover {
        color: $gradient;
      }
    }
  }

  .footer-logo {
    color: $white;
  }

  // modal here...
  .modal {
    .modal-content {
      background-color: $dark;
      color: $white;
    }
  }

  // sidebar here...
  .sidebar {
    .sidebar-item {
      .sidebar-link {
        color: $white;

        &:hover {
          color: $black;
        }
      }
    }
  }

  // crate post ...
  .create-post-file-container {
    button {
      color: $white;
    }
  }

  .create_post_btn {
    color: $black;
    &:hover {
      color: $white;
    }
  }

  // react quill...
  // TODO: change color of placeholder
  // div.ql-editor .ql-blank ::placeholder {
  //   color: $white;
  // }

  // dashboard post ...
  .td-link {
    color: $white;
  }
}
